#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2px;

}
.read-the-docs {
  color: #5a805c
  ;
}
.input-container {
  display: flex;
  align-items: center;
}

input {
  width: 500px;
  height: 10px;
  font-size: 16px;
  padding: 10px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px; /* Space between input and button */
}

.clear-button {
  height: 50px; /* Match input height */
  font-size: 16px;
  padding: 0 15px; /* Horizontal padding */
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #5a805c; /* Red background for clear */
  color: white; /* White text */
  cursor: pointer; /* Change cursor on hover */
}
.output-container {
  margin-top: 20px; /* Space above the output */
  padding: 10px;
  border: 1px solid #ccc; /* Optional border */
  border-radius: 10px; /* Rounded corners */
  background-color: #000000; /* Light background */
}

